{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mb-5">
    <h4 class="text-center">Shopping Cart</h4>
    <div class="col-7 ">
        <table class="table table-bordered text-center ">
            <tr>
                <th colspan="5">Cart Items</th>
            </tr>
            {% for i in c %}
            <tr>
                <td><img src="{{i.product.image.url}}" height="100px" width="100px"></td>
                <td><b>{{i.product.name}}</b></td>
                <td><b>Product ID:{{i.product.id}}</b><br>
                <b>Unit Price:{{i.product.price}}</b><br>
                    <b>Quantity:{{i.product.price}}* {{i.quantity}}</b><br>
                </td>
                <td><b>Subtotal:{{i.subtotal}}</b></td>
                <td>
                    {% if i.product.stock > 0 %}
                    <a href="{% url 'cart:addtocart' i.product.name %}"><i class="fa-solid fa-circle-plus text-danger fs-4"></i></a>
                    <a href="{% url 'cart:deletecart' i.product.name %}"><i class="fa-solid fa-circle-minus text-danger fs-4"></i> </a>
                    <a href="{% url 'cart:removecart' i.product.name %}"><i class="fa-solid fa-trash text-danger fs-4"></i> </a>
                    {% else %}
                <a href="{% url 'cart:deletecart' i.product.name %}"><i class="fa-solid fa-circle-minus text-danger fs-4"></i> </a>
                <a href="{% url 'cart:removecart' i.product.name %}"><i class="fa-solid fa-trash text-danger fs-4"></i> </a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="col-4  ms-3">
        <table class="table table-bordered">
            <tr>
                <th colspan="5">Check Out</th>
            </tr>
            <tr>
                <th>Total:<span style="position:absolute;right:100px;">{{total}} </span></th>
            </tr>
        </table>
        <a href="{% url 'cart:orderform' %}" class="btn btn-danger">Place Order</a>
        <a href="{% url 'shop:category' %}" class="btn btn-danger" style="position:absolute;right:100px;">Continue Shopping</a>
    </div>
</div>
{% endblock %}
