{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-sm-4 me-5">
            <img src="{{b.image.url}}" height="400px" width="400px">
        </div>
        <div class="col-sm-6 ms-5 me-5">
            <h2>{{b.name}}</h2>
            <p >{{b.desc}}</p>
            <p>Price:{{b.price}}</p>
            {{b.stock}}


            {% if user.is_superuser == True %}

            {% if b.stock == 0 %}
            <h2>Out of Stock</h2>
            <a href="{% url 'admin:index' %}" class="btn btn-primary">Add Stock</a>
            {% else %}
            <h2>Product in Stock </h2>
            <a href="{% url 'admin:index' %}" class="btn btn-primary">Add Stock</a>
            {% endif %}

            {% else %}

            {% if b.stock == 0 %}
            <h2>Out of Stock</h2>
            {% else %}
            <a href="{% url 'cart:addtocart' b.name %}" class="btn btn-primary mt-5">Add to cart</a>
            {% endif %}
{% endif %}
        </div>
    </div>
</div>

{% endblock %}